{% extends "store/base.html" %}
{% load boostrap4 %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_label "Email" %}
            {% bootstrap_field form.username show_label=False placeholder="Email" %}
            {% bootstrap_field form.password %}
            <button class="btn btn-warning btn-block">Вход</button>
            <p class="text-center mt-3">
              Хотите зарегистрироваться? <a href="/sign-up/?next={{ request.GET.next }}"><b>Зарегистрироваться</b></a>
            </p>
          </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
    
{% endblock content %}