{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="cart-row">
            <div class="col-lg-12">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190;Продолжить наполнение</a>
                    
                    <br>
                    <br>

                    <table class="table">
                        <tr>
                            <th><h5>Количество: <strong>{{order.get_cart_items}}</strong></h5></th>
                            <th><h5>Сумма: <strong>{{order.get_cart_total|floatformat:2}} руб</strong></h5></th>
                            <th><h5>Каллории/Норма:<p><strong>{{order.get_cart_cals}} ккал/{{cals_norm}} ккал</strong></h5></th>
                            <th>
                                <a style="float:right; margin:5px" class="btn 
                                btn-success" href="{% url 'checkout' %}">Оформить заказ
                                </a>
                            </th>
                        </tr>
                    </table>
                </div>

                <br>

                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Позиция</strong></div>
                        <div style="flex:1"><strong>Цена</strong></div>
                        <div style="flex:1"><strong>Кол-во</strong></div>
                        <div style="flex:1"><strong>Итог</strong></div>
                    </div>

                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{item.food.imageURL}}"></div>
                        <div style="flex:2">{{item.food.name}}</div>
                        <div style="flex:1">{{item.food.price|floatformat:2}}Р</div>
                        <div style="flex:1">
                            <p class="quantity">{{item.quantity}}</p>
                            <div class="quantity">
                                <img data-product={{item.food.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                        
                                <img data-product={{item.food.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                            </div>
                        </div>
                        <div style="flex:1">{{item.get_total}} руб</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

