{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for menu in menus %}
            <div class="col-lg-4">
                <a href="{% url 'menu_detail' menu.id %}"><img class="thumbnail" src="{{menu.imageURL}}"></a>
                <div class="box-element product">
                    <h6><strong>{{menu.name}}</strong></h6>
                    <hr>
                    <a href="{% url 'menu_detail' menu.id %}" class="btn btn-warning">Перейти</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}


